body {
  background-color: #262626;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.ring-menu {
  margin: auto;
  z-index: 1;

  :is(p) {
    font-size: 2vh;
  }

  :is(h4) {
    margin: 2px;
    font-size: 5vh;
  }

  :is(h5) {
    margin: 2px;
    font-size: 3vh;
  }

  .combo-row {
    font-size: 2vh;
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 5px;
    border: 1px solid #e27b30;
    position: relative;
  }
}

.item-points-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 20vh;
}

.item-points-row {
  text-align: center;
  border: 1px solid #e27b30;
  width: 100%;
  margin: -0.5px 0px;
  transition: order 0.2s;
  position: relative;
}

.bar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(226, 122, 48, 0.259);
  transition: width 0.8s;
}

.profiles-select-box {
  position: absolute;
  left: 10vh;
  top: 10vh;
  translate: -50% -50%;

  :is(button) {
    cursor: pointer;
    display: block;
    border: 1px solid #e27b30;
    border-radius: 50%;
    margin: 0;
    padding: 5vh;
    background-color: #262626;
    background-image: url('../assets/plus.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    transition: all 0.5s;
  }

  :is(button):hover {
    zoom: 120%;
    background-color: #e27a3042;
  }

  & > select {
    display: none;
  }
}
